.game {
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
}
.player {
  height: 20vh;
  overflow: hidden;
}
.game-start {
  padding: 0.75vh !important;
}
.level-complete {
  padding: 0.75vh !important;
}
.game-complete {
  padding: 0.75vh !important;
}
.game-info {
  margin: 1vh !important;
}
.game-text {
  margin: 1vh !important;
  width: 50px !important;
}
.game-stats {
  margin: 1vh !important;
}
.light {
  background-color: #ffe640;
  border-radius: 10%;
  max-width: 12vw;
  max-height: 12vw;
  width: 10vh;
  height: 10vh;
  margin: 0.25vh;
  font-size: 4em;
}
.light:hover {
  background-color: #c6b647 !important;
  transition: background-color 0.3s ease !important;
}
.nolight {
  background-color: #545454;
  border-radius: 10%;
  max-width: 12vw;
  max-height: 12vw;
  width: 10vh;
  height: 10vh;
  margin: 0.25vh;
  font-size: 4em;
}
.nolight:hover {
  background-color: #8d834a !important;
  transition: background-color 0.3s ease !important;
}
.hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}
